*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar settings */
/* 
.navbar{
    background-color: rgba(208, 193, 193, 0.3) !important;
} */

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar .navbar-collapse .navbar-nav li{
    font-size: 1.2rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    font-weight: bold;
    text-shadow: none;
    font-family: 'Noto Serif', serif;
}

.navbar .navbar-collapse .navbar-nav li:hover{
    border-radius: 20px;
    background-color: rgb(214, 167, 79);
}

.navbar .navbar-collapse .navbar-nav li a:hover{
    color: white;
}

.navbar .navbar-collapse .navbar-nav .activeHome{
    border-radius: 20px;
    background-color: rgb(214, 167, 79);
    text-shadow: 2px 1px #1f2436;
    font-weight: bold;
}

.navbar .navbar-collapse .navbar-nav .activeHome a{
    color: whitesmoke;
}

/* Form */

.box1 h1{
    color: white;
    text-shadow: 2px 1px #1f2436;
    font-family: 'Noto Serif', serif;
    padding-left: 120px;
}

.box1 p{
    color: white;
    font-family: 'Noto Serif', serif;
    text-shadow: 1px 1px #1f2436;
    padding-left: 2rem;
    font-size: 17px;
}

.box1 .Form{
    padding-left: 2rem;
}

.box1 .Form label{
    font-size: 18px;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
}

.box1 .Form input, .box1 .Form textarea{
    font-family: 'Noto Serif', serif;
    background: transparent;
    border: none;
    box-shadow: 2px 1px 3px #383c49,-2px -1px 3px #383c49;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    margin-left: 20px;
    color: white;
}

label{
    text-shadow: 2px 1px #1f2436;
}

::placeholder{
    font-size: 18px;
    color: rgb(34, 34, 34);
    color: white;
    text-shadow: 2px 1px #1f2436;
}

.box1 .Form input:focus, .box1 .Form textarea:focus{
    outline: none;
}

#btn1{
    margin-left: 15rem;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid rgb(214, 167, 79);
    background: white;
    border-radius: 5px;
    font-family: 'Noto Serif', serif;
}

#btn1:hover{
    background: rgb(214, 167, 79);
    color: white;
    border: 2px solid white;
}

/* marquee setting */

marquee{
    background-color: rgb(226, 170, 67);
    font-family: 'Noto Serif', serif;
}


/* Footer */

.location{
    font-family: 'Noto Serif', serif;
    padding-left: 120px;
}

.location h2{
    padding-top: 115px;
    font-family: 'Noto Serif', serif;
}

.Icons{
    padding-top: 150px;
    padding-left: 100px;
}

.Footer{
    background-color: rgb(92, 51, 4);
    height: 50px;
    width: 100%;
}