* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar settings */

.navbar {
  background-color: rgba(236, 228, 228, 0.3) !important;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar .navbar-collapse .navbar-nav li {
  font-size: 1.2rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  font-weight: bold;
  text-shadow: none;
  font-family: "Noto Serif", serif;
}

.navbar .navbar-collapse .navbar-nav li:hover {
  border-radius: 20px;
  background-color: rgb(214, 167, 79);
}

.navbar .navbar-collapse .navbar-nav li a:hover {
  color: white;
}

.navbar .navbar-collapse .navbar-nav .activeHome {
  border-radius: 20px;
  background-color: rgb(214, 167, 79);
  text-shadow: 2px 1px #1f2436;
  font-weight: bold;
}

.navbar .navbar-collapse .navbar-nav .activeHome a {
  color: whitesmoke;
}

/* Main box style */

.Box {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  box-shadow: 2px 1px 3px rgb(68, 67, 67), -1px -1px 4px rgb(68, 67, 67);
  width: 40% !important;
  margin-top: 4rem;
}

/* Form styling */

form {
  margin-top: 30px;
  padding-left: 50px;
}

form input {
  background: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid black;
  padding-left: 38px;
  font-size: 18px;
  font-family: "Noto Serif", serif;
  color: black;
  width: 85% !important;
}

::placeholder {
  font-size: 18px;
  font-family: "Noto Serif", serif;
  color: rgb(51, 50, 50);
}

form input:focus {
  outline: none;
}

#User {
  position: relative;
  z-index: 1;
  left: 10px;
  color: black;
  cursor: pointer;
  width: 0;
  top: 5px;
}

#Lock {
  position: relative;
  z-index: 1;
  left: 10px;
  color: black;
  cursor: pointer;
  width: 0;
  top: 5px;
}

#Lock1 {
  position: relative;
  z-index: 1;
  left: 10px;
  color: black;
  cursor: pointer;
  width: 0;
  top: 5px;
}

#text1 {
  margin-top: 20px;
  margin-left: 7px;
  font-size: 18px;
  color: black;
  font-family: "Noto Serif", serif;
}

#text1 a {
  text-decoration: none;
  font-family: "Noto Serif", serif;
}

#btn1 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(60deg, rgb(245, 179, 57), rgb(246, 203, 123));
  font-family: "Merriweather", serif;
  margin-top: 30px;
}

#btn1:hover {
  background: white;
  color: black;
  border: 2px solid rgb(245, 179, 57);
}

a {
  text-decoration: none;
}

form p {
  margin-top: 20px;
  margin-left: 7px;
  font-size: 18px;
  color: black;
  font-family: "Noto Serif", serif;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .Box {
    width: auto !important;
    margin-top: 3rem;
  }
}

